/* Basic style */
:root {
  --primary: #fff;
  --secondary: #050840;
  --highlight-primary: #7ce7c9;
  --highlight-secondary: #9d7beb;
  --radius: 0.5rem;
  --pill: 2rem;
  --line: 0.1rem;
}
* {
  box-sizing: border-box;
}
body {
  margin: 2rem;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 2rem;
  background: var(--secondary);
}
section {
  max-width: 90vw;
}
a {
  display: inline-block;
  margin: 0.2em;
  padding: 0.4em 0.8em;
  background: var(--secondary);
  color: var(--highlight-primary);
  border: var(--line) solid var(--highlight-primary);
  border-radius: var(--pill);
  font-weight: normal;
  text-decoration: none;
}
a:hover {
  color: var(--primary);
  border-color: var(--primary);
}

/* UI Event Classes */

/* Jump animation on the interaction link */
a:nth-of-type(2) {
  position: relative;
  background: #FDFD96;
  color: var(--secondary);
  border-color: var(--secondary);
}

a:nth-of-type(5) {
  position: relative;
  background: #FF6961;
  color: var(--secondary);
  border-color: var(--secondary);
}

a:nth-of-type(8) {
  position: relative;
  background: var(--highlight-secondary);
  color: var(--secondary);
  border-color: var(--secondary);
}

.jump {
  animation-name: jump;
  animation-timing-function: cubic-bezier(0.28, 0.84, 0.42, 1);
  animation-duration: 1.2s;
  animation-iteration-count: 1;
}

@keyframes jump {
  0% {
    transform: scale(1, 1) translateY(0);
  }
  10% {
    transform: scale(1.1, 0.9) translateY(0);
  }
  30% {
    transform: scale(0.9, 1.1) translateY(-5rem) rotate(10deg);
  }
  50% {
    transform: scale(1.05, 0.95) translateY(0);
  }
  57% {
    transform: scale(1, 1) translateY(-0.5rem) rotate(-2deg);
  }
  64% {
    transform: scale(1, 1) translateY(0);
  }
  100% {
    transform: scale(1, 1) translateY(0);
  }
}

/* Jouw animaties */

.purple {
  color: var(--highlight-secondary);
  border-color: var(--highlight-secondary);
}

.vanish {
  transition: ease-in 2s;
  opacity: 0;
}

.rainbow {
  animation: rainbow 5s;
  animation-iteration-count: infinite;
}

@keyframes rainbow {
  0% {
    border-color: red;
    color: red;
  }
  10% {
    border-color: orange;
    color: orange;
  }
  30% {
    border-color: yellow;
    color: yellow;
  }
  50% {
    border-color: yellowgreen;
    color: yellowgreen;
  }
  60% {
    border-color: cyan;
    color: cyan;
  }
  80% {
    border-color: pink;
    color: pink;
  }
  100% {
    border-color: red;
    color: red;
  }
}

.sprint {
  animation: sprint 2s;
  animation-iteration-count: 1;
}

@keyframes sprint {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(50em);
  }
  26% {
    visibility: hidden;
  }
  35% {
    visibility: hidden;
    transform: translateX(-50em);
  }
  90% {
    transform: translateX(3em);
  }
  100% {
    transform: translateX(0);
  }
}

.blur {
  filter: blur(2px);
}

.dropping {
  animation: dropping 5s;
  animation-iteration-count: 1; 
}

@keyframes dropping {
  0% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(30em) rotate(45deg);
  }
  41% {
    display: none;
    transform: translateY(-30em);
  }
  100% {
    transform: translateY(0);
  }
}

.flash {
  animation: flash 2s;
  animation-iteration-count: infinite; 
}

@keyframes flash {
  0% {
    color: white;
    border-color: white;
  }
  10% {
    color: yellow;
    border-color: yellow;
  }
  20% {
    color: white;
    border-color: white;
  }
  30% {
    color: yellow;
    border-color: yellow;
  }
  40% {
    color: white;
    border-color: white;
  }
  50% {
    color: yellow;
    border-color: yellow;
  }
  60% {
    color: white;
    border-color: white;
  }
  70% {
    color: yellow;
    border-color: yellow;
  }
  80% {
    color: white;
    border-color: white;
  }
  90% {
    color: yellow;
    border-color: yellow;
  }
  100% {
    color: white;
    border-color: white;
  }
}

.rotate {
  animation: rotate .8s;
  animation-iteration-count: 3;
}

@keyframes rotate {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}